[Unit]
Description=Vatroslav Backend
After=network.target

[Service]
#Change username
User=linux_username

#Location of Spring Boot application (backend)
WorkingDirectory=

#Location of Java executable and Spring Boot application JAR file
#Java executable path can be found by running `which java` in the terminal
ExecStart=java_executablepath -jar location_of_jar_file

#Graceful shutdown settings
SuccessExitStatus=143

Restart=always
RestartSec=5

#Logging settings
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target